.leaflet-container {
  z-index: 0;
}

.leaflet-container .leaflet-tile,
.leaflet-container .leaflet-marker-icon,
.leaflet-container .leaflet-marker-shadow,
.leaflet-container .leaflet-overlay-pane svg {
  max-width: none !important;
  max-height: none !important;
}

.leaflet-container .leaflet-marker-pane img,
.leaflet-container .leaflet-shadow-pane img,
.leaflet-container .leaflet-tile-pane img,
.leaflet-container img.leaflet-image-layer,
.leaflet-container img.leaflet-tile {
  display: block !important;
  width: auto !important;
  height: auto !important;
  padding: 0 !important;
  visibility: inherit !important;
  opacity: 1 !important;
  mix-blend-mode: normal !important;
}
